<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Class And ID</title>
    <Style>
        .style1{
            color:white;
        }
        .style2{
            background-color: rgb(139, 81, 81);
        }
        .style3{
            text-align: center;
        }
        #Style1{
            background-color: green;
            text-align: center;
        }
        #Style2{
            text-align: center;

        }
    </Style>
</head>
<body>
    <div>
        <h2 class="style1 style2 style3">More Class Uses In this Header. More Id can use in one tag.</h2>
        <br>
        <h2 id="Style1">More Id dont Uses in One Tag. If you use Id doesnt work.</h2>
    </div>
</body>
</html>
